node_modules
dist
build
docs
bin
.DS_Store
*.log
.rollup.cache
.tsconfig*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.idea

.idea
.eslintcache
.env

*.heapprofile
scripts/.temp-typedoc/
